{% extends 'base.html' %}
{% block title %}Editar Lista{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow" style="min-width: 350px; max-width: 500px; width: 100%;">
    <h2 class="text-center mb-4">Editar Lista</h2>
    <form action="/lists/edit/{{ lista.id }}" method="POST">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome da Lista:</label>
        <input type="text" id="nome" name="nome" value="{{ lista.nome }}" class="form-control" required>
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
